.background {
    -fx-background-color: aqua;
}

.label {
    -fx-background-color: red;
}

.button {
    -fx-background-color: #FFFFFF;
}

.button .text {
    -fx-font-family: Quicksand;
    -fx-font-size: 8em;
}